<section id="section-free-tests-banner" class="section-free-tests-banner page-banner"  parallax-background parallax-ratio="0.5">

</section>

<section id="section-disc" class="section-disc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1 class="section-title">O que é DISC? <img class="disc-logo" src="assets/images/disc.png" alt="DISC"/></h1>
                <p class="section-info">
                    DISC é uma metodologia desenvolvida por William Moulton Marston, da Universidade de Harvard, que serve para
                    estabelecer os níveis de determinação, influência, serenidade e consciência de uma pessoa.
                </p>
                <p class="section-info">
                    O método DISC mede dois eixos fundamentais: o quão emotiva e o quão ativa uma pessoa é. Com base nisso,
                    é possível avaliar melhor pessoas, cargos, equipes ou uma organização completa.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="disc-item disc-item-red">
                    <div class="disc-icon">
                        <img src="assets/images/paulo.png" alt=""/>
                    </div>
                    <p>
                        Paulo<br>
                        <strong>Perfil Vermelho</strong><br>
                        É direto, pragmático e exigente. Algumas vezes, porém, pode ser impaciente,
                        confrontador e pouco diplomático.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="disc-item disc-item-yellow">
                    <div class="disc-icon">
                        <img src="assets/images/marta.png" alt=""/>
                    </div>
                    <p>
                        Marta<br>
                        <strong>Perfil Amarelo</strong><br>
                        É sociável, otimista e carismática.
                        Contudo, não é boa em perceber detalhes, dar seguimento às atividades e fazer análises aprofundadas.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="disc-item disc-item-blue">
                    <div class="disc-icon">
                        <img src="assets/images/bruno.png" alt=""/>
                    </div>
                    <p>
                        Bruno<br>
                        <strong>Perfil Azul</strong><br>
                        É rigoroso, formal e sistemático. Porém pode ser pessimista, perfeccionista demais e incrédulo.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="disc-item disc-item-green">
                    <div class="disc-icon">
                        <img src="assets/images/clara.png" alt=""/>
                    </div>
                    <p>
                        Clara<br>
                        <strong>Perfil Verde</strong><br>
                        É cordial, diplomática e conciliadora.
                        Pode resistir a mudanças e tende a ser possessiva.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-push-3">
                <ul class="type-list">
                    <li class="red"><strong class="red">Perfil determinante</strong><span class="dark">: tendem a ser pessoas mais ativas e racionais</span></li>
                    <li class="yellow"><strong class="yellow">Perfil influente</strong><span class="dark">: tendem a ser pessoas mais ativas e emotivas</span></li>
                    <li class="blue"><strong class="blue">Perfil sereno</strong><span class="dark">: tendem a ser pessoas mais calmas e emotivas</span></li>
                    <li class="green"><strong class="green">Perfil consciencioso</strong><span class="dark">: tendem a ser pessoas mais calmas e racionais</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-how-it-works" class="section-how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Como Funciona?</h1>
                <p class="section-info">
                    Com esta metodologia é possível não apenas identificar o perfil das pessoas, mas também saber
                    o que procuram e como interagir com elas de forma mais assertiva.
                </p>
                <img class="how-it-works-img img-responsive" src="assets/images/how-it-works.png" alt=""/>
            </div>
        </div>
    </div>
</section>

<div class="test-banner-1" parallax-background parallax-ratio="0.8">

</div>

<section id="section-what-is-it-for" class="section-what-is-it-for">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Para que serve?</h1>
                <p class="section-info">
                    Devido à sua praticidade e alta coerência, estes testes têm muitas aplicações relacionadas à
                    melhoria das relações humanas. Conheça algumas destas aplicações:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <ul class="check-list">
                    <li>Identificar o perfil de uma pessoa.</li>
                    <li>Realizar recrutamento.</li>
                    <li>Estruturar e documentar perfis de cargos.</li>
                    <li>Analisar equipes de trabalho.</li>
                    <li>Entender a cultura de uma organização.</li>
                    <li>Definir pautas para a transformação organizacional.</li>
                    <li>Preparar uma negociação.</li>
                    <li>Construir planos de desenvolvimento individual.</li>
                    <li>Definir e avaliar competências.</li>
                    <li>Otimizar os relacionamentos entre as pessoas.</li>
                    <li>Potencializar pessoas novas em seus cargos.</li>
                    <li>Apoiar o alinhamento de uma pessoa nova em uma organização.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="grey-background">
<section id="section-how-to" class="section-how-to">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Como usar?</h1>
                <p class="section-info">
                    Por meio da aplicação de diversos questionários online, é possível identificar os diferentes perfis
                    de pessoas, cargos, equipes e organizações e alinhar todos de acordo com os seguintes princípios:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>O que os <strong class="red">DETERMINANTES</strong> acham dos:</p>
                <table class="profile-table">
                    <tr>
                        <td>
                            <img src="assets/images/perfil-d.png" alt=""/>
                        </td>
                        <td>
                            <p>protegem seu território</p>
                            <p>políticos e dispersos demais</p>
                            <p>muito sensíveis a pressão</p>
                            <p>demorados e cautelosos</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <p>O que os <strong class="yellow">INFLUENTES</strong> acham dos:</p>
                <table class="profile-table">
                    <tr>
                        <td>
                            <img src="assets/images/perfil-i.png" alt=""/>
                        </td>
                        <td>
                            <p>duros e diretos demais</p>
                            <p>ambos buscam protagonismo</p>
                            <p>relutantes a mudanças</p>
                            <p>incrédulos e difíceis de agradar</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <p>O que os <strong class="blue">CONSCIENCIOSOS</strong> acham dos:</p>
                <table class="profile-table">
                    <tr>
                        <td><img src="assets/images/perfil-c.png" alt=""/></td>
                        <td>
                            <p>arriscados e querem tudo para agora</p>
                            <p>pouco rigorosos e confiantes demais</p>
                            <p>democráticos demais</p>
                            <p>argumentam com lógica</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <p>O que os <strong class="green">SERENOS</strong> acham dos:</p>
                <table class="profile-table">
                    <tr>
                        <td><img src="assets/images/perfil-s.png" alt=""/></td>
                        <td>
                            <p>impositivos e intensos</p>
                            <p>fazem excessivas mudanças</p>
                            <p>tem uma relação harmoniosa</p>
                            <p>frios e distantes</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="diagonal-banner-container">
    <div class="diagonal-banner">
        <div class="test-banner-2">

        </div>
    </div>
</div>

<section id="section-free-test-form" class="section-free-test-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">TESTE GRÁTIS</h1>
                <p class="section-info">
                    Deixe seus dados e enviaremos um teste de cortesia:
                </p>
                <form ng-submit="vm.submit(contactform)" name="contactform" method="POST" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="input-name" class="col-md-4">Nome:</label>
                        <div class="col-md-4">
                            <input id="input-name" class="form-control" required ng-model="vm.name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-lastname" class="col-md-4">Sobrenome:</label>
                        <div class="col-md-4">
                        <input id="input-lastname" class="form-control" required ng-model="vm.lastname" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-company" class="col-md-4">Empresa:</label>
                        <div class="col-md-4">
                        <input id="input-company" class="form-control" required ng-model="vm.company" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-position" class="col-md-4">Cargo:</label>
                        <div class="col-md-4">
                        <input id="input-position" class="form-control" required ng-model="vm.position" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-employees" class="col-md-4">Nº de colaboradores:</label>
                        <div class="col-md-4">
                        <input id="input-employees" class="form-control" required ng-model="vm.employees" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-email" class="col-md-4">Email:</label>
                        <div class="col-md-4">
                        <input id="input-email" class="form-control" required ng-model="vm.email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-phone" class="col-md-4">Telefone:</label>
                        <div class="col-md-4">
                        <input id="input-phone" class="form-control" required ng-model="vm.phone" type="text">
                        </div>
                    </div>
                    <div class="alert" ng-class="vm.result" ng-show="vm.submitted" role="alert">{{ vm.resultMessage }}</div>
                    <div class="submit-container">
                        <button type="submit" ng-disabled="vm.submitButtonDisabled" class="contact-btn">SOLICITAR TESTE GRÁTIS</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
</div>
