<section id="section-free-tests-banner" class="section-free-tests-banner">

</section>

<section id="section-disc" class="section-disc">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">O que é DISC?</h1>
                <p class="section-info">
                    DISC é uma metodologia desenvolvida por William Moulton Marston, da Universidade de Harvard, queserve para
                    estabelecer os níveis de determinação, influência, serenidade e consciência de uma pessoa.
                </p>
                <p class="section-info">
                    O método DISC mede dois eixos fundamentais: o quão emotiva e o quão ativa uma pessoa é. Com base nisso,
                    é possível avaliar melhor pessoas, cargos, equipes ou uma organização completa.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 disc-item disc-item-red">
                <div class="disc-icon">
                    <img src="assets/images/paulo.png" alt=""/>
                </div>
                <p>
                    Paulo<br>
                    <strong>Perfil Vermelho</strong><br>
                    É direto, pragmático e exigente. Algumas vezes, porém, pode ser impaciente,
                    confrontador e pouco diplomático.
                </p>
            </div>
            <div class="col-md-6 disc-item disc-item-yellow">
                <div class="disc-icon">
                    <img src="assets/images/marta.png" alt=""/>
                </div>
                <p>
                    Marta<br>
                    <strong>Perfil Amarelo</strong><br>
                    É sociável, otimista e carismática.
                    Contudo, não é boa em perceber detalhes, dar seguimento às atividades e fazer análises aprofundadas.
                </p>
            </div>
            <div class="col-md-6 disc-item disc-item-red">
                <div class="disc-icon">
                    <img src="assets/images/paulo.png" alt=""/>
                </div>
                <p>
                    Bruno<br>
                    <strong>Perfil Azul</strong><br>
                    É rigoroso, formal e sistemático. Porém pode ser pessimista, perfeccionista demais e incrédulo.
                </p>
            </div>
            <div class="col-md-6 disc-item disc-item-red">
                <div class="disc-icon">
                    <img src="assets/images/paulo.png" alt=""/>
                </div>
                <p>
                    Clara<br>
                    <strong>Perfil Verde</strong><br>
                    É cordial, diplomática e conciliadora.
                    Pode resistir a mudanças e tende a ser possessiva.
                </p>
            </div>
            <div class="col-xs-12">
                <ul>
                    <li><strong>Perfil determinante</strong>: tendem a ser pessoas mais ativas e racionais</li>
                    <li><strong>Perfil influente</strong>: tendem a ser pessoas mais ativas e emotivas</li>
                    <li><strong>Perfil sereno</strong>: tendem a ser pessoas mais calmas e emotivas</li>
                    <li><strong>Perfil consciencioso</strong>: tendem a ser pessoas mais calmas e racionais</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-how-it-works" class="section-how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Como Funciona?</h1>
                <p class="section-info">
                    Com esta metodologia é possível não apenas identificar o perfil das pessoas, mas também saber
                    o que procuram e como interagir com elas de forma mais assertiva.
                </p>

            </div>
        </div>
    </div>
</section>

<section id="section-what-is-it-for" class="section-what-is-it-for">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Para que serve?</h1>
                <p class="section-info">
                    Devido à sua praticidade e alta coerência, estes testes têm muitas aplicações relacionadas à
                    melhoria das relações humanas. Conheça algumas destas aplicações:
                </p>
                <ul class="check-list">
                    <li>Identificar o perfil de uma pessoa.</li>
                    <li>Realizar recrutamento.</li>
                    <li>Estruturar e documentar perfis de cargos.</li>
                    <li>Analisar equipes de trabalho.</li>
                    <li>Entender a cultura de uma organização.</li>
                    <li>Definir pautas para a transformação organizacional.</li>
                    <li>Preparar uma negociação.</li>
                    <li>Construir planos de desenvolvimento individual.</li>
                    <li>Definir e avaliar competências.</li>
                    <li>Otimizar os relacionamentos entre as pessoas.</li>
                    <li>Potencializar pessoas novas em seus cargos.</li>
                    <li>Apoiar o alinhamento de uma pessoa nova em uma organização.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="section-how-to" class="section-how-to">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Como usar?</h1>
                <p class="section-info">
                    Por meio da aplicação de diversos questionários online, é possível identificar os diferentes perfis
                    de pessoas, cargos, equipes e organizações e alinhar todos de acordo com os seguintes princípios:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>O que os <strong class="red">DETERMINANTES</strong> acham dos:</p>

            </div>
            <div class="col-md-6">
                <p>O que os <strong class="yellow">INFLUENTES</strong> acham dos:</p>

            </div>
            <div class="col-md-6">
                <p>O que os <strong class="blue">CONSCIENCIOSOS</strong> acham dos:</p>

            </div>
            <div class="col-md-6">
                <p>O que os <strong class="green">SERENOS</strong> acham dos:</p>

            </div>
        </div>
    </div>
</section>

<section id="section-free-test-form" class="section-free-test-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">TESTE GRÁTIS</h1>
                <p class="section-info">
                    Deixe seus dados e enviaremos um teste de cortesia:
                </p>
                <form action="" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="input-name" class="col-md-4">Nome:</label>
                        <div class="col-md-4">
                            <input id="input-name" class="form-control" required ng-model="vm.name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-lastname" class="col-md-4">Sobrenome:</label>
                        <div class="col-md-4">
                        <input id="input-lastname" class="form-control" required ng-model="vm.lastname" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-company" class="col-md-4">Empresa:</label>
                        <div class="col-md-4">
                        <input id="input-company" class="form-control" required ng-model="vm.company" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-position" class="col-md-4">Cargo:</label>
                        <div class="col-md-4">
                        <input id="input-position" class="form-control" required ng-model="vm.position" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-employees" class="col-md-4">Nº de colaboradores:</label>
                        <div class="col-md-4">
                        <input id="input-employees" class="form-control" required ng-model="vm.employees" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-email" class="col-md-4">Email:</label>
                        <div class="col-md-4">
                        <input id="input-email" class="form-control" required ng-model="vm.email" type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-phone" class="col-md-4">Telefone:</label>
                        <div class="col-md-4">
                        <input id="input-phone" class="form-control" required ng-model="vm.phone" type="text">
                        </div>
                    </div>
                    <div class="submit-container">
                        <button type="submit" class="contact-btn">Enviar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
