@color-light-blue: #00aeef;
@color-black: #000000;
@color-grey: #58595b;
@color-dark: #414042;
@color-red: #ff0000;
@color-yellow: #ffcb05;
@color-green: #00a651;
@color-dark-green: #007236;
@color-blue-green: #128877;
@color-light: #ffffff;
@color-light-grey: #f1f2f2;

body {
  font-family: Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
  background-color: @color-light;
}

section {
  position: relative;
  font-family: Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
  color: @color-black;
  padding-top: 60px;
  padding-bottom: 90px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: @color-black;
  font-size: 40px;
}

.section-subtitle {
  text-align: center;
  font-size: 12px;
}

.section-info {
  font-size: 24px;
  text-align: center;
  color: @color-dark;
  margin: 40px 0;
}

.navbar-nav {
  text-transform: uppercase;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navbar-static-top {
  padding-top: 50px;
  background-image: url("../assets/images/nav-background.png");
  background-repeat: repeat-x;
  background-position: center top;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.logo-next-group {
  background-image: url('../assets/images/logo-next-group.png');
  width: 131px;
  height: 69px;
  display: inline-block;
  position: relative;
  top: -40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/** scrolling down */
.headroom--unpinned {
  padding-top: 20px;
  li a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .logo-next-group {
    top: -30px;
    transform: scale(0.7, 0.7);
  }
}

/** scrolling up */
.headroom--pinned {

}


.nav {
  li {
    margin-left: 14px;
    &:first-child {
      margin-left: 0;
    }
    a {
      color: @color-light;
      border-bottom-style: solid;
      border-bottom-width: 10px;
      border-bottom-color: transparent;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: @color-light-blue;
      }
      &.active {
        border-bottom-color: @color-light-blue;
      }
    }
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: @color-dark;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  .icon-bar {
    background-color: @color-light-grey;
  }
}

.login-link {
  padding-right: 20px;
  background-image: url("../assets/images/padlock.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.test-btn {
  border-radius: 6px;
  border-color: #ffffff;
  border-width: 1px;
  &.active {
    background-color: @color-light-blue;
  }
}

.btn-down-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -75px;
  margin-left: -25px;
  cursor: pointer;
  background-image: url("../assets/images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border-width: 0;
}

.text-shadow {
  text-shadow: 1px 1px 4px #000000;
}

.btn-call-to-action {
  border-radius: 6px;
  -webkit-box-shadow: 2px 1px 4px @color-black;
  -moz-box-shadow: 2px 1px 4px @color-black;
  box-shadow: 2px 1px 4px @color-black;
  color: #ffffff;
}

.section-banners {
  padding-top: 0;
  padding-bottom: 0;
}

.section-services {
  background-color: @color-light-grey;
  padding-bottom: 90px;
}

.service-item {
  &:hover {
    .service-icon {
      transform: scale(1.1, 1.1);
    }
  }
}

.service-icon {
  text-align: center;
  min-height: 110px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.service-icon-simple {
  background-image: url('../assets/images/service-simples.png');
}

.service-icon-integrated {
  background-image: url('../assets/images/service-integrada.png');
}

.service-icon-unlimited {
  background-image: url('../assets/images/service-ilimitada.png');
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  color: @color-blue-green;
  text-transform: uppercase;
  text-align: center;
  border-bottom-color: @color-light;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 13px;
}

.section-calculate {
  padding-top: 90px;
  padding-bottom: 50px;
  background-image: url("../assets/images/calculate-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: @color-light;
  font-size: 22px;
}

.calculate-title {

  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 60px;
}

.btn-calculate-roi {
  background-color: @color-dark-green;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0;
  border-width: 0;
  text-align: center;
  padding: 18px 22px;
  color: @color-light;
}




.solution-item {
  margin-bottom: 20px;
  padding: 20px;
  min-height: 80px;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  .solution-title {
    color: @color-dark;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 6px 10px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:after {
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 13px;
      margin-left: -13px;
    }
  }

  &:hover,
  &.active{
    background-color: @color-light-grey;
    border-color: #e1e1e1;
    .solution-title {

      color: @color-light;
      background-color: @color-dark-green;

      &:after {
        border-top-color: @color-dark-green;
      }
    }
  }
}

.solution-content {
  margin-top: 20px;
  text-align: center;
  color: @color-dark;
}

.solution-item {
  &:hover {
    .solution-icon {
      transform: scale(1.1, 1.1);
    }
  }
}

.solution-icon {
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  min-height: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.solution-icon-recruitment {
  background-image: url('../assets/images/solution-recruitment.png');
}

.solution-icon-development {
  background-image: url('../assets/images/solution-development.png');
}

.solution-icon-position {
  background-image: url('../assets/images/solution-position.png');
}

.solution-icon-team {
  background-image: url('../assets/images/solution-team.png');
}

.solution-icon-organization {
  background-image: url('../assets/images/solution-organization.png');
}

.solution-icon-feedback {
  background-image: url('../assets/images/solution-feedback.png');
}

.popover {
  max-width: 200%;
  font-size: 12px;
  border-radius: 0px;
  background-color: @color-light-grey;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  ol {
    padding-left: 14px;
  }
}


.section-advantages {
  color: @color-dark;
}

.advantage-item {
  clear: both;
  min-height: 80px;
  margin-bottom: 20px;
}



.advantage-title {
  margin-bottom: 0;
}

.advantage-content {

}

.advantage-icon {
  padding: 20px;
  margin-right: 18px;
  border-radius: 4px;
  float: left;
  min-height: 80px;
  min-width: 80px;
  text-align: center;
  background-position: 0 0;
  background-repeat: repeat-y;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background-position: 0 -80px;
  }
}

.advantage-icon-type-1 {
  background-color: @color-yellow;
}

.advantage-icon-type-2 {
  background-color: @color-red;
}

.advantage-icon-type-3 {
  background-color: @color-green;
}

.advantage-icon-type-4 {
  background-color: @color-light-blue;
}

.advantage-icon-1 {
  background-image: url("../assets/images/advantage-1.png");
}

.advantage-icon-2 {
  background-image: url("../assets/images/advantage-2.png");
}

.advantage-icon-3 {
  background-image: url("../assets/images/advantage-3.png");
}

.advantage-icon-4 {
  background-image: url("../assets/images/advantage-4.png");
}

.advantage-icon-5 {
  background-image: url("../assets/images/advantage-5.png");
}

.advantage-icon-6 {
  background-image: url("../assets/images/advantage-6.png");
}

.advantage-icon-7 {
  background-image: url("../assets/images/advantage-7.png");
}

.advantage-icon-8 {
  background-image: url("../assets/images/advantage-8.png");
}

.section-calculator {
  color: @color-dark;
  padding-bottom: 0px;
  .section-title {
    text-transform: none;
    color: @color-dark;
  }
  .section-subtitle {
    color: @color-dark;
  }
  .section-info {
    text-align: left;
    font-size: 13px;
  }
  label {
    font-weight: bold;
  }
}

.calculator-background {
  background-color: #a1a1a1;
  background-position: center;
  background-size: cover;
  background-image: url("../assets/images/calculator-bg.jpg");
  padding: 50px 0;
}


.section-clients {
  background-color: @color-light-grey;
  padding: 50px 0;

}

.grid-table {
  width: 100%;
  margin-bottom: 20px;
  tr {
    td {
      border-width: 1px;
      border-style: solid;
      border-color: #c1c1c1;
      &:first-child {
        border-left-color: transparent;
      }
      &:last-child {
        border-right-color: transparent;
      }
    }
    &:first-child {
      td {
        border-top-color: transparent;
      }
    }
    &:last-child {
      td {
        border-bottom-color: transparent;
      }
    }
  }
}

.client-icon {
  width: 33.33%;
  text-align: center;
  cursor: pointer;
  position: relative;
  &:hover {
    .icon-colored {
      opacity: 1;
    }
  }
  img {
    max-width: 100%;
    position: relative;
  }
  .icon-colored {
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .icon-bw {
    z-index: 1;
  }

}

.section-contact {

}

.map {
  border: none;
  width: 100%;
  height: 320px;
  margin-bottom: 20px;
}

.contact-link {
  color: #b32025;
  font-weight: bold;
  &:hover, &:active, &:visited {
    color: darken(#b32025, 10%);
  }
}

.contact-btn {
  color: @color-light;
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #b51d1f;
  border-width: 1px;
  border-color: #951a1d;
  border-style: solid;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 0px #951a1d;
  -moz-box-shadow: 0 2px 0px #951a1d;
  box-shadow: 0 2px 0px #951a1d;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:hover,
  &:active,
  &:focus {
    background-color: darken(#b51d1f, 10%);
  }
}

.submit-container {
  text-align: right;
}

.form-control:focus {
  border-color: #ff5353;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(186, 2, 0, 0.61);
}

address {
  margin-top: 14px;
  padding-bottom: 20px;
  margin-right: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @color-light-grey;

}

footer {
  color: @color-light;
  padding-top: 78px;
  padding-bottom: 61px;
  background-color: #3A3A3A;
  text-align: center;
  img {
    margin-bottom: 20px;
  }
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}

.icon-mono {
  background: url("../assets/images/icons1.png");
  background-color: #595959;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/* facebook */
.icon-mono.facebook {
  background-position: 0 0;
}

.icon-mono.facebook:hover {
  background-color: #3b5998;
  background-position: 0 -96px;
}

/* twitter */
.icon-mono.twitter {
  background-position: -96px 0;
}

.icon-mono.twitter:hover {
  background-color: #4099ff;
  background-position: -96px -96px;
}

/* google plus */
.icon-mono.googleplus {
  background-position: -192px 0;
}

.icon-mono.googleplus:hover {
  background-color: #d34836;
  background-position: -192px -96px;
}
.carousel-inner > .item > img {
  width: 100%;
}

.carousel-control {
  display: none;
}

.carousel-indicators {

  li {
    width: 40px;
    height: 11px;
    margin: 1px;
    border-radius: 0;
    border-width: 0;
    background-color: @color-light-blue;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:hover,
    &.active {
      width: 40px;
      height: 11px;
      margin: 1px;
      border-width: 0;
      background-color: @color-light;
    }
  }

}
