@color-light-blue: #00aeef;
@color-black: #000000;
@color-grey: #58595b;
@color-dark: #414042;
@color-red: #ff0000;
@color-yellow: #ffcb05;
@color-green: #00a651;
@color-dark-green: #007236;
@color-blue-green: #128877;
@color-light: #ffffff;
@color-light-grey: #f1f2f2;

@import "progress.less";

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
  background-color: @color-light;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
}

section {
  position: relative;
  font-family: 'Open Sans', Arial, "Helvetica Neue", Verdana, Arial, sans-serif;
  color: @color-black;
  padding-top: 60px;
  padding-bottom: 90px;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: @color-black;
  font-size: 40px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 30px;
  }
}

.section-subtitle {
  text-align: center;
  font-size: 12px;
}

.section-info {
  font-size: 24px;
  text-align: center;
  color: @color-dark;
  margin: 40px 0;
}

.navbar-nav {
  text-transform: uppercase;
  font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}

.navbar-static-top {
  padding-top: 50px;
  background-image: url("../assets/images/nav-background.png");
  background-repeat: repeat-x;
  background-position: center top;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.logo-next-group {
  background-image: url('../assets/images/logo-next-group.png');
  width: 131px;
  height: 69px;
  display: inline-block;
  position: relative;
  top: -40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/** scrolling down */
.headroom--unpinned {
  padding-top: 20px;
  li a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .logo-next-group {
    top: -30px;
    transform: scale(0.7, 0.7);
  }
}

/** scrolling up */
.headroom--pinned {

}


.nav {
  li {
    margin-left: 6px;
    &:first-child {
      margin-left: 0;
    }
    a {
      color: @color-light;
      padding: 12px;
      border-bottom-style: solid;
      border-bottom-width: 10px;
      border-bottom-color: transparent;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      &:hover,
      &:focus {
        background-color: transparent;
        border-bottom-color: @color-light-blue;
      }
      &.active {
        border-bottom-color: @color-light-blue;
      }
    }
    .btn-try-for-free {
      border-width: 1px;
      border-style: solid;
      border-radius: 6px;
      border-color: @color-light;
      &:hover,
      &:focus,
      &.active {
        background-color: @color-light-blue;
        border-color: @color-light;
      }
    }
  }
}



.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: @color-dark;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  .icon-bar {
    background-color: @color-light-grey;
  }
}
@media screen and (max-width: 767px){
  .navbar-collapse {
    li {
      margin-right: 6px;
      &:first-child {
        margin-left: 6px;
      }

    }
    &.in {
      a {
        background-color: @color-light-grey;
        color: @color-dark;
        &:hover,
        &:focus,
        &.active {
          background-color: @color-light-grey;

        }
      }
      .btn-try-for-free {
        padding: 12px;
        border-bottom-style: solid;
        border-bottom-width: 10px;
        border-bottom-color: transparent;
        border-radius: 0;
        &:hover,
        &:focus,
        &.active {
          border-bottom-color: @color-light-blue;
        }
      }
      .login-link {
        padding-left: 28px;
        background-image: url("../assets/images/padlock.png");
        background-repeat: no-repeat;
        background-position: 10px 50%;
      }
    }


  }
}


.login-link {
  padding-right: 20px;
  background-image: url("../assets/images/padlock.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.test-btn {
  border-radius: 6px;
  border-color: #ffffff;
  border-width: 1px;
  &.active {
    background-color: @color-light-blue;
  }
}

.btn-down-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -75px;
  margin-left: -25px;
  cursor: pointer;
  background-image: url("../assets/images/down-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 45px;
  background-color: transparent;
  border-width: 0;
}

.text-shadow {
  text-shadow: 1px 1px 4px #000000;
}

.btn-call-to-action {
  border-radius: 6px;
  -webkit-box-shadow: 2px 1px 4px @color-black;
  -moz-box-shadow: 2px 1px 4px @color-black;
  box-shadow: 2px 1px 4px @color-black;
  color: #ffffff;
}

.section-banners {
  padding-top: 0;
  padding-bottom: 0;
}

.slide-container {
  width: 100%;
  min-height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
  &.active {
    h1 {

    }
    p {

    }
  }
}

.slide-content {
  position: absolute;
  color: @color-light;
  bottom: 50px;
  text-align: left;
  h1, p {
    opacity: 0;
    transform: translateX(-500px);
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s;
  }
  .active {
    h1, p {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
      transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
    h1 {
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
    }
    p {
      -webkit-transition-delay: 0.7s;
      transition-delay: 0.7s;
    }
  }
  h1 {
    font-size: 60px;

  }
  p {
    font-size: 26px;
  }
}

.section-services {
  background-color: @color-light-grey;
  padding-bottom: 90px;
}

.service-item {
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  &:hover {
    .service-icon {
      -webkit-transition: transform 0.3s;
      -moz-transition: transform 0.3s;
      -ms-transition: transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transform: scale(1.1, 1.1);
    }
  }
}

.service-item.ng-hide{
  display: block!important;
  opacity: 0;
}

.service-item-simple {
  &.ng-hide {
    transform: translateX(-300px);
  }
}

.service-item-integrated {
  &.ng-hide {
    transform: translateX(-300px);
  }
}

.service-item-unlimited {
  &.ng-hide {
    transform: translateX(-300px);
  }
}

.service-icon {
  text-align: center;
  min-height: 110px;
  background-position: center center;
  background-repeat: no-repeat;
}

.service-icon-simple {
  background-image: url('../assets/images/service-simples.png');
}

.service-icon-integrated {
  background-image: url('../assets/images/service-integrada.png');
}

.service-icon-unlimited {
  background-image: url('../assets/images/service-ilimitada.png');
}

.service-title {
  font-size: 20px;
  font-weight: bold;
  color: @color-blue-green;
  text-transform: uppercase;
  text-align: center;
  border-bottom-color: @color-light;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 13px;
}

.section-calculate {
  padding-top: 90px;
  padding-bottom: 50px;
  background-image: url("../assets/images/calculate-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: @color-light;
  font-size: 22px;
}

.calculate-title {
  font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
  font-size: 60px;
}

.btn-calculate-roi {
  background-color: @color-dark-green;
  font-weight: bold;
  font-size: 25px;
  border-radius: 0;
  border-width: 0;
  text-align: center;
  padding: 18px 22px;
  color: @color-light;
}

.section-solutions {
  .section-title {

  }
  .section-info {
    margin: 10px;
  }
}


.solution-item {
  margin-bottom: 10px;
  padding: 10px;
  min-height: 50px;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  .solution-title {
    color: @color-dark;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 4px 10px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:after {
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 13px;
      margin-left: -13px;
    }
  }

  &:hover,
  &.active{
    background-color: @color-light-grey;
    border-color: #e1e1e1;
    .solution-title {

      color: @color-light;
      background-color: @color-dark-green;

      &:after {
        border-top-color: @color-dark-green;
      }
    }
  }
}

.solution-content {
  margin-top: 10px;
  text-align: center;
  color: @color-dark;
  ol { list-style-type: none; }
  ol li:before
  {
    counter-increment: mycounter;
    content: counter(mycounter) ".\00A0\00A0";
  }
  ol li
  {
    text-indent: -1.3em;
  }
  ol.start { counter-reset: mycounter; }
}

.solution-item {
  &:hover,
  &.active {
    .solution-icon {
      transform: scale(1.1, 1.1);
    }
  }
}

.solution-icon {
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 100%;
  min-height: 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.solution-icon-recruitment {
  background-image: url('../assets/images/solution-recruitment.png');
}

.solution-icon-development {
  background-image: url('../assets/images/solution-development.png');
}

.solution-icon-position {
  background-image: url('../assets/images/solution-position.png');
}

.solution-icon-team {
  background-image: url('../assets/images/solution-team.png');
}

.solution-icon-organization {
  background-image: url('../assets/images/solution-organization.png');
}

.solution-icon-feedback {
  background-image: url('../assets/images/solution-feedback.png');
}

.tooltip {
  max-width: 200%;
  font-size: 12px;
  border-radius: 0px;
  background-color: @color-light-grey;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
  ol {
    padding-left: 14px;
  }
}

.tooltip-inner {
  text-align: left;
  max-width: 200%;
  font-size: 12px;
  border-radius: 0px;
  background-color: @color-light-grey;
  color: @color-dark;
}


.section-advantages {
  color: @color-dark;
}

.advantage-item {
  clear: both;
  min-height: 80px;
  margin-bottom: 20px;
}



.advantage-title {
  margin-bottom: 0;
}

.advantage-content {

}

.advantage-icon {
  padding: 20px;
  margin-right: 18px;
  border-radius: 4px;
  float: left;
  min-height: 80px;
  min-width: 80px;
  text-align: center;
  background-position: 0 0;
  background-repeat: repeat-y;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background-position: 0 -80px;
  }
}

.advantage-icon-type-1 {
  background-color: @color-yellow;
}

.advantage-icon-type-2 {
  background-color: @color-red;
}

.advantage-icon-type-3 {
  background-color: @color-green;
}

.advantage-icon-type-4 {
  background-color: @color-light-blue;
}

.advantage-icon-1 {
  background-image: url("../assets/images/advantage-1.png");
}

.advantage-icon-2 {
  background-image: url("../assets/images/advantage-2.png");
}

.advantage-icon-3 {
  background-image: url("../assets/images/advantage-3.png");
}

.advantage-icon-4 {
  background-image: url("../assets/images/advantage-4.png");
}

.advantage-icon-5 {
  background-image: url("../assets/images/advantage-5.png");
}

.advantage-icon-6 {
  background-image: url("../assets/images/advantage-6.png");
}

.advantage-icon-7 {
  background-image: url("../assets/images/advantage-7.png");
}

.advantage-icon-8 {
  background-image: url("../assets/images/advantage-8.png");
}

.section-calculator {
  color: @color-dark;
  padding-bottom: 0px;
  .section-title {
    text-transform: none;
    color: @color-dark;
  }
  .section-subtitle {
    color: @color-dark;
  }
  .section-info {
    text-align: left;
    font-size: 13px;
  }
  label {
    font-weight: bold;
  }
}

.calculator-background {
  background-color: #a1a1a1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../assets/images/calculator-bg.jpg");
  padding: 50px 0;
}

.calculator-table {
  margin-top: 20px;
  td {
    vertical-align: top;
    padding-left: 10px;
    &:first-child {
      padding-top: 5px;
    }
  }
}


.section-clients {
  background-color: @color-light-grey;
  padding: 50px 0;

}

.grid-table {
  width: 100%;
  margin-bottom: 20px;
  tr {
    td {
      border-width: 1px;
      border-style: solid;
      border-color: #c1c1c1;
      &:first-child {
        border-left-color: transparent;
      }
      &:last-child {
        border-right-color: transparent;
      }
    }
    &:first-child {
      td {
        border-top-color: transparent;
      }
    }
    &:last-child {
      td {
        border-bottom-color: transparent;
      }
    }
  }
}

.client-icon {
  width: 33.33%;
}

.section-contact {

}

.map {
  border: none;
  width: 100%;
  height: 320px;
  margin-bottom: 20px;
}

.contact-link {
  color: #b32025;
  font-weight: bold;
  &:hover, &:active, &:visited {
    color: darken(#b32025, 10%);
  }
}

.contact-btn {
  color: @color-light;
  border-radius: 6px;
  padding: 10px 16px;
  background-color: #b51d1f;
  border-width: 1px;
  border-color: #951a1d;
  border-style: solid;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 0px #951a1d;
  -moz-box-shadow: 0 2px 0px #951a1d;
  box-shadow: 0 2px 0px #951a1d;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  &:hover,
  &:active,
  &:focus {
    background-color: darken(#b51d1f, 10%);
  }
}

.submit-container {
  text-align: right;
}

.form-control:focus {
  border-color: #ff5353;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(186, 2, 0, 0.61);
}

address {
  margin-top: 14px;
  padding-bottom: 20px;
  margin-right: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: @color-light-grey;

}

footer {
  color: @color-light;
  padding-top: 78px;
  padding-bottom: 61px;
  background-color: #3A3A3A;
  text-align: center;
  img {
    margin-bottom: 20px;
  }
  a {
    color: @color-light-grey;
    &:hover, &:active, &:focus {
      color: darken(@color-light-grey, 10%);
      text-decoration: none;
    }
  }
}

.social-icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
}

.icon-mono {
  background: url("../assets/images/icons1.png");
  background-color: #595959;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/* facebook */
.icon-mono.facebook {
  background-position: 0 0;
}

.icon-mono.facebook:hover {
  background-color: #3b5998;
  background-position: 0 -96px;
}

/* twitter */
.icon-mono.twitter {
  background-position: -96px 0;
}

.icon-mono.twitter:hover {
  background-color: #4099ff;
  background-position: -96px -96px;
}

/* google plus */
.icon-mono.googleplus {
  background-position: -192px 0;
}

.icon-mono.googleplus:hover {
  background-color: #d34836;
  background-position: -192px -96px;
}

.icon-mono.linkedin {
  background-position: -288px 0;
}

.icon-mono.linkedin:hover {
  background-color: #0077b5;
  background-position: -288px -96px;
}

.carousel-inner > .item > img {
  width: 100%;
}

.carousel-control {
  display: none;
}

.carousel-indicators {

  li {
    width: 40px;
    height: 11px;
    margin: 1px;
    border-radius: 0;
    border-width: 0;
    background-color: @color-light-blue;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    &:hover,
    &.active {
      width: 40px;
      height: 11px;
      margin: 1px;
      border-width: 0;
      background-color: @color-light;
    }
  }

}

.form-control {
  background-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

.icons-colored-bw {
  text-align: center;
  cursor: pointer;
  position: relative;
  &:hover {
    .icon-colored {
      opacity: 1;
    }
  }
  img {
    max-width: 100%;
    position: relative;
  }
  .icon-colored {
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .icon-bw {
    z-index: 1;
  }
}

.section-who-we-are-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../assets/images/banner-who-we-are.jpg');
  min-height: 500px;
}

.section-differentials {
  text-align: center;
  background-color: @color-light-grey;
}

.differentials-blocks {
  overflow: hidden;
  div {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    &.ng-hide {
      display: block!important;
      opacity: 0;
      transform: translateX(-300px);
      &:nth-child(even){
        transform: translateX(300px);
      }
    }
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  margin-bottom: 30px;
}

.check-list {
  li {

  }
}

.section-our-team {
  .section-title {
    margin-bottom: 50px;
  }
  .member-name {
    font-weight: bold;
  }
}

.section-tht-banner {
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../assets/images/banner-tht.jpg');
  min-height: 500px;
}

.section-tht {
  font-size: 18px;
  color: @color-dark;
  .section-title {
    font-weight: normal;
  }
}

.tht-map {
  tht-map {
    position: relative;
    height: 0;
    width: 100%;
    display: block;
    padding: 0;
    padding-bottom: 100%;
  }
  svg {
    position: absolute;
    top: -40px;
    height: 100%;
    width: 100%;
    left: 0;
  }
  [id$=item] { /* Any element with an id that ends in "item" */
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    [id$=tooltip] {
      position: relative;
      opacity: 0;
      display: none;
      transform: translateY(-80px);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover {
      [id$=tooltip] {
        display: block;
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

ul, ol {
  padding-left: 20px;
  li {
    list-style-position: outside;
  }
}

.section-free-tests-banner {
  background-image: url('../assets/images/banner-tests.jpg');
}

.page-banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 500px;
}

.disc-logo {
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 767px){
  .disc-logo {
    position: relative;
    display: inline-block;
    right: 0;
  }
}

.disc-item {
  border-style: solid;
  border-width: 2px;
  border-color: @color-dark;
  margin: 10px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 20px;
  position: relative;
  min-height: 140px;
  img {
    position: absolute;
    left: -38px;
    border-style: solid;
    border-width: 1px;
    border-color: @color-dark;
  }
}

.disc-item-red {
  border-color: @color-red;
}

.disc-item-yellow {
  border-color: @color-yellow;
}

.disc-item-blue {
  border-color: @color-light-blue;
}

.disc-item-green {
  border-color: @color-green;
}

.red {
  color: @color-red;
}
.yellow {
  color: @color-yellow;
}

.blue {
  color: @color-light-blue;
}
.green {
  color: @color-green;
}

.dark {
  color: @color-dark;
}

.type-list {
  margin-top: 50px;
  font-size: 110%;
}

.section-how-it-works {
  background-color: @color-light-grey;
}

.how-it-works-img {
  margin: 0 auto;
}

.section-what-is-it-for {

  .check-list {

  }
}

.section-free-test-form {
  label {
    text-align: right;
    line-height: 32px;
  }
  .submit-container {
    text-align: center;
  }
}

.profile-table {
  width: 100%;
  td {
    padding: 6px;
    vertical-align: top;

    &:first-child {
      text-align: right;
      width: 40%;
    }
  }
  p {
    line-height: 38px;
  }
}

.help-popup {
  position: fixed;
  z-index: 9999;
  top: 30%;
  right: 0;
  cursor: pointer;
  background-image: url('../assets/images/help-popup.png');
  width: 218px;
  height: 158px;
  transition: 0.3s ease all;
  opacity: 1;
  &.ng-hide {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media screen and (max-width: 767px){
  .help-popup {
    display: none;
  }
}

.diagonal-banner-container {
  overflow: visible;
}

.diagonal-banner {
  margin-left: -15%;
  width: 130%;
  transform: rotate(-10deg);
  height: 400px;
}

@media screen and (max-width: 767px){
  .diagonal-banner {
    margin-left: 0;
    width: 100%;
    transform: none;
    height: 400px;
  }
}

.test-banner-1 {
  height: 400px;
  background-image: url('../assets/images/test-1.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.test-banner-2 {
  height: 100%;
  background-image: url('../assets/images/test-2.jpg');
  background-position: 50% 10%;
  background-size: cover;
}

.grey-background {
  background-color: @color-light-grey;
}

/** Disable parallax in mobile **/
@media screen and (max-width: 767px){
  [parallax-background]{
    background-position: center !important;
  }
}



#video-wrap {
  background-color: #eee;
  display: block;
  position: relative;
  width: 100%;
  height: 580px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  vertical-align: middle;
  z-index: 1;
}

#video-wrap video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

#video-wrap .video-overlay {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../assets/images/dot-pattern.png);
  opacity: 0.5;
}

/*.parallax-overlay{55555555555555
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-color: rgba(44,62,80,0.3);
    z-index: 2;
}*/
.video-wrap-content {
  color: #444444;
  position: relative;
  display: block;
  z-index: 3;
  top: 50%;
}

.video-wrap-content h1 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 50px;
}

.video-wrap-content img {
  position: relative;
  margin: 0 auto;
  top: -105px;
}

.video-wrap-content p {
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 25px;
}

@media (max-width: 767px) {
  #video-wrap {
    background-color: #eee;
    display: block;
    width: 100%;
    height: 400px;
    overflow-x: hidden;
    overflow-y: hidden;
    vertical-align: middle;
    z-index: 1;
  }

  .video-wrap-content img {
    position: relative;
    margin: 0 auto;
  }

  #video-wrap video {
    display: none;
  }

  .video-wrap-content h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .video-wrap-content p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
}


