<nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="logo-next-group"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="home.free-test">Teste Gratis</a></li>
        <li><a ui-sref="home.who-we-are">Quem Somos</a></li>
        <li><a ui-sref="home.who-we-are">Sobre THT</a></li>
        <li><a href="#">Log in</a></li>
      </ul>

    </div>
  </div>
</nav>
