<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-4">
                        <p>Home</p>
                        <p>Quem somos</p>
                        <p>Sobre DISC</p>
                        <p>Clientes</p>
                    </div>
                    <div class="col-sm-4">
                        <p>O que fazemos</p>
                        <p>Nosso diferencial</p>
                        <p>Soluções</p>
                        <p>Testes ilimitados</p>
                        <p>Outras vantagens</p>
                        <p>Calcule o ROI</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Teste gratis</p>
                        <p>Log in</p>
                        <p>Contato</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <img src="assets/images/biocoaching.png" alt=""/>
                    <img src="assets/images/certification.png" alt=""/>
                </div>
            </div>
            <div class="col-md-4">
                <a href="#" class="social-icon icon-mono facebook">facebook</a>
                <a href="#" class="social-icon icon-mono twitter">twitter</a>
                <a href="#" class="social-icon icon-mono googleplus">google+</a>
            </div>
        </div>
    </div>
</footer>
