<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-4">
                        <p><a ui-sref="home">Home</a></p>
                        <p><a ui-sref="who-we-are">Quem somos</a></p>
                        <p><a ui-sref="free-test">Sobre DISC</a></p>
                        <p><a ui-sref="home({section:'section-clients'})">Clientes</a></p>
                    </div>
                    <div class="col-sm-4">
                        <p><a ui-sref="home({section:'section-services'})">O que fazemos</a></p>
                        <p><a ui-sref="who-we-are({section:'section-differentials'})">Nosso diferencial</a></p>
                        <p><a ui-sref="home({section:'section-solutions'})">Soluções</a></p>
                        <p><a ui-sref="home">Testes ilimitados</a></p>
                        <p><a ui-sref="home({section:'section-advantages'})">Outras vantagens</a></p>
                        <p><a ui-sref="home({section:'section-calculator'})">Calcule o ROI</a></p>
                    </div>
                    <div class="col-sm-4">
                        <p><a ui-sref="free-test">Teste gratis</a></p>
                        <p><a href="http://plataformatht.com/tht/">Log in</a></p>
                        <p><a ui-sref="home({section:'section-contact'})">Contato</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <img src="assets/images/biocoaching.png" alt=""/>
                    <img src="assets/images/certification.png" alt=""/>
                </div>
            </div>
            <div class="col-md-5">
                <a href="#" class="social-icon icon-mono facebook">facebook</a>
                <a href="#" class="social-icon icon-mono linkedin">linkedin</a>
                <a href="#" class="social-icon icon-mono twitter">twitter</a>
                <a href="#" class="social-icon icon-mono googleplus">google+</a>

            </div>
        </div>
    </div>
</footer>
