<section class="section-banners">
    <div style="">
        <carousel interval="5000">
            <slide ng-repeat="slide in vm.slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
        </carousel>
    </div>
    <!--<a href="#section-services" du-smooth-scroll><button class="btn-down-arrow"></button></a>-->
</section>
<section class="section-services" id="section-services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">O que fazemos</h1>
                <p class="section-info">A Next Group oferece uma plataforma de testes online
                    para todas as suas necessidades em RH.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon service-icon-simple"></div>
                    <p class="service-title">
                        Simples
                    </p>
                    <p class="service-content">
                        Conte com uma poderosa ferramenta para a gestão de seu pessoal. Fáceis de entender, fáceis de
                        usar e disponíveis 24 horas por dia, 7 dias por semana, nossos produtos podem ser customizados
                        de acordo com as suas necessidades.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon service-icon-integrated"></div>
                    <p class="service-title">
                        Integrada
                    </p>
                    <p class="service-content">
                        Tenha todas as ferramentas de recrutamento, avaliação, desenvolvimento e gestão de pessoas,
                        equipes e organizações numa só plataforma. São 33 tipos de testes DISC e indicadores para 14
                        competências.
                    </p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-icon service-icon-unlimited"></div>
                    <p class="service-title">
                        Ilimitada
                    </p>
                    <p class="service-content">
                        Nossos testes são desenvolvidos para você economizar tempo e dinheiro. Com os pacotes ilimitados,
                        você pode melhorar todos os processos internos da sua organização. Temos um preço para cada
                        tamanho de empresa.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#section-calculate" du-smooth-scroll><button class="btn-down-arrow"></button></a>
</section>

<section class="section-calculate" id="section-calculate">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="calculate-title text-shadow">
                    Pare de se preocupar com os preços de testes individuais.
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="text-shadow">
                    Com os pacotes ilimitados da Next Group, você pode usar os testes não somente para seleção, mas também
                    para aprimorar todos os processos da sua empresa. Economize tempo e dinheiro, melhore o ambiente de
                    trabalho em sua organização e aumente os níveis de engajamento e produtividade de sua equipe.
                </p>
                <a href="#section-calculator" du-smooth-scroll><button class="btn-calculate-roi">Calcule o ROI</button></a>
            </div>
        </div>
    </div>
    <a href="#section-solutions" du-smooth-scroll><button class="btn-down-arrow"></button></a>
</section>

<section class="section-solutions" id="section-solutions" ng-controller="SolutionsCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Soluções</h1>
                <p class="section-info">
                    Com a plataforma THT - The Talent System, a Next Group traz pela primeira vez
                    ao Brasil uma ferramenta de avaliação DISC tão completa e integrada.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="solution-item" ng-click="vm.toggleSolution('recruitment')"
                     popover-html-unsafe="{{ vm.recruitment }}" popover-placement="bottom"
                     ng-class="{active: vm.activeSolution === 'recruitment'}" popover-toggle="vm.activeSolution === 'recruitment'">
                    <div class="solution-icon solution-icon-recruitment"></div>
                    <h4 class="solution-title">Recrutamento</h4>
                    <p class="solution-content">
                        Selecione mais rápido e melhor, avalie o perfil DISC e 14 competências e faça
                        "rankings" dos melhores candidatos.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="solution-item" ng-click="vm.toggleSolution('position')"
                     popover-html-unsafe="{{ vm.position }}" popover-placement="bottom"
                     ng-class="{active: vm.activeSolution === 'position'}" popover-toggle="vm.activeSolution === 'position'">
                    <div class="solution-icon solution-icon-position"></div>
                    <h4 class="solution-title">Cargo</h4>
                    <p class="solution-content">
                        Melhore o manual de funções, entenda os cargos de forma prática e conheça o
                        perfil exato da pessoa necessária para cada cargo.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="solution-item" ng-click="vm.toggleSolution('development')"
                     popover-html-unsafe="{{ vm.development }}" popover-placement="bottom"
                        ng-class="{active: vm.activeSolution === 'development'}" popover-toggle="vm.activeSolution === 'development'">
                    <div class="solution-icon solution-icon-development"></div>
                    <h4 class="solution-title">Desenvolvimento</h4>
                    <p class="solution-content">
                        Avalie de modo simples e rápido, defina oportunidades de crescimento
                        e faça recomendações concretas de formação.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="solution-item" ng-click="vm.toggleSolution('organization')"
                     popover-html-unsafe="{{ vm.organization }}" popover-placement="bottom"
                     ng-class="{active: vm.activeSolution === 'organization'}" popover-toggle="vm.activeSolution === 'organization'">
                    <div class="solution-icon solution-icon-organization"></div>
                    <h4 class="solution-title">Organização</h4>
                    <p class="solution-content">
                        Conheça melhor a cultura de sua organização, identifique competências corporativas e
                        sensibilize as pessoas para um processo de mudança.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="solution-item" ng-click="vm.toggleSolution('team')"
                     popover-html-unsafe="{{ vm.team }}" popover-placement="bottom"
                     ng-class="{active: vm.activeSolution === 'team'}" popover-toggle="vm.activeSolution === 'team'">
                    <div class="solution-icon solution-icon-team"></div>
                    <h4 class="solution-title">Equipe</h4>
                    <p class="solution-content">
                        Entenda melhor seu pessoal, conheça as competências de cada um e crie estratégias de
                        desenvolvimento para equipes.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="solution-item" ng-click="vm.toggleSolution('feedback')"
                     popover-html-unsafe="{{ vm.feedback }}" popover-placement="bottom"
                     ng-class="{active: vm.activeSolution === 'feedback'}" popover-toggle="vm.activeSolution === 'feedback'">
                    <div class="solution-icon solution-icon-feedback"></div>
                    <h4 class="solution-title">Alinhamento</h4>
                    <p class="solution-content">
                        Compare duas pessoas sem desqualificações, defina como potencializar uma pessoa em um cargo e
                        ofereça dicas de adaptação para os novos colaboradores.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <a href="#section-advantages" du-smooth-scroll><button class="btn-down-arrow"></button></a>
</section>

<section class="section-advantages" id="section-advantages">
    <div class="container">
        <h1 class="section-title">Outras Vantagens</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-1 advantage-icon-type-1"></div>
                    <h4 class="advantage-title">Mais Autonomia</h4>
                    <p class="advantage-content">
                        Acesse nossa plataforma para alimentar, aplicar, consultar ou gerar
                        testes. Não dependa de ninguém para seus processos de RH.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-2 advantage-icon-type-2"></div>
                    <h4 class="advantage-title">Recomendação de Livros e Vídeos</h4>
                    <p class="advantage-content">
                        Os planos de desenvolvimento e testes de alinhamento oferecem dicas de livros e vídeos que
                        podem ajudar na melhoria do desempenho.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-3 advantage-icon-type-3"></div>
                    <h4 class="advantage-title">Testes Inovadores</h4>
                    <p class="advantage-content">
                        Alguns de nossos testes são únicos: identificadores, rankings, perfis por observação,
                        alinhamento de pessoas com outras pessoas, cargos ou organizações, etc.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-4 advantage-icon-type-4"></div>
                    <h4 class="advantage-title">Conhecimentos Técnicos</h4>
                    <p class="advantage-content">
                        Customize perguntas para medir competências específicas, como línguas,
                        química, valores, geologia, finanças... o que você precisar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-5 advantage-icon-type-4"></div>
                    <h4 class="advantage-title">Testes Editáveis</h4>
                    <p class="advantage-content">
                        Todos os testes são editáveis, o que lhe permite aprimorar ainda mais a informação de acordo
                        com as suas necessidades.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-6 advantage-icon-type-3"></div>
                    <h4 class="advantage-title">Certificação Gratuita</h4>
                    <p class="advantage-content">
                        Oferecemos certificação básica e suporte técnico sem custo quando necessário.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-7 advantage-icon-type-2"></div>
                    <h4 class="advantage-title">Versatilidade</h4>
                    <p class="advantage-content">
                        Nossos testes lhe permitem medir até 14 competências diferentes e
                        apresentá-las segundo as suas necessidades atuais.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-8 advantage-icon-type-1"></div>
                    <h4 class="advantage-title">Serviços de Alta Qualidade</h4>
                    <p class="advantage-content">
                        A cada nova compra de testes, estabelecemos um compromisso de alta qualidade
                        em serviços. Somos seu aliado na busca pelo sucesso. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#section-calculator" du-smooth-scroll><button class="btn-down-arrow"></button></a>
</section>


<section class="section-calculator" id="section-calculator" ng-controller="CalculatorCtrl as vm">
    <div class="calculator-background">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="section-title">
                        Calcule o ROI
                    </h1>
                    <p class="section-subtitle">
                        (Retorno sobre Investimento)
                    </p>
                    <p class="section-info">
                        Calcule o que você vai poupar em tempo e dinheiro, além do grande impacto no ambiente e na performance da sua empresa.
                    </p>
                    <div class="form-horizontal form-group">
                        <label for="input-employees">Quantos colaboradores a empresa possui?</label>
                        <input class="form-control" ng-model="vm.employees" id="input-employees" type="number" min="0">
                    </div>
                    <div class="form-horizontal form-group">
                        <label for="input-processes">Quantos processos seletivos faz por mês?</label>
                        <input class="form-control" ng-model="vm.processes" id="input-processes" type="number" min="0">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="vm.employees > 0 && vm.processes > 0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <p>Porcentagem horas com THT{{ vm.percentageTime|number:1 }}%</p>

                    <p>{{vm.hoursPerProcessWithoutTHT|number:1}} horas por processo sem THT.</p>
                    <p>{{vm.hoursPerProcessWithTHT|number:1}} horas por processo com THT.</p>
                    <p>{{vm.hoursSavedPerProcess|number:1}} horas economizadas por processo.</p>

                    <p>{{vm.hoursSavedPerMonth|number:1}} horas economizadas por mês.</p>

                    <p>{{vm.hoursSavedPerYear|number:1}} horas economizadas por mês.</p>

                    <div>
                        <strong>Recursos poupados por processo</strong><br>
                        Além disso, o processo poupa:
                        <ul>
                            <li>100% em gastos de viagens, pois todos os processos são realizados pela internet</li>
                            <li>50% em gastos de locação, por requerer apenas espaços para entrevistas</li>
                            <li>50% em custos fixos de manutenção (coffee-break, água etc.)</li>
                            <li>30% de custos de escritório</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <p>{{vm.percentageMoney|number:1}}%</p>

                    <p>R${{ vm.moneySavedPerYear|number:1}} poupados anualmente</p>

                    <p></p>

                    <p>sdlkjhfskjlhflsdhfkjksdjhf</p>

                    <p>sdlkjhfskjlhflsdhfkjksdjhf</p>
                </div>
            </div>
        </div>
    </div>
    <!--<a href="#section-clients" du-smooth-scroll><button class="btn-down-arrow"></button></a>-->
</section>

<section class="section-clients" id="section-clients">
    <div class="container">
        <h1 class="section-title">Clientes</h1>
        <table class="grid-table">
            <tr>
                <td class="client-icon">
                    <img class="icon-colored" src="assets/clients/hirota.jpg" alt=""/>
                    <img class="icon-bw" src="assets/clients/hirota-bw.jpg" alt=""/>
                </td>
                <td class="client-icon">
                    <img class="icon-colored" src="assets/clients/bayer.jpg" alt=""/>
                    <img class="icon-bw" src="assets/clients/bayer-bw.jpg" alt=""/>
                </td>
                <td class="client-icon">
                    <img class="icon-colored" src="assets/clients/casino.jpg" alt=""/>
                    <img class="icon-bw" src="assets/clients/casino-bw.jpg" alt=""/>
                </td>
            </tr>
            <tr>
                <td class="client-icon">
                    <img class="icon-colored" src="assets/clients/kimberly.jpg" alt=""/>
                    <img class="icon-bw" src="assets/clients/kimberly-bw.jpg" alt=""/>
                </td>
                <td class="client-icon">
                    <img class="icon-colored" src="assets/clients/merck.jpg" alt=""/>
                    <img class="icon-bw" src="assets/clients/merck-bw.jpg" alt=""/>
                </td>
                <td class="client-icon">
                    <img class="icon-colored" src="assets/clients/telefonica.jpg" alt=""/>
                    <img class="icon-bw" src="assets/clients/telefonica-bw.jpg" alt=""/>
                </td>
            </tr>
        </table>
    </div>
    <a href="#section-contact" du-smooth-scroll><button class="btn-down-arrow"></button></a>
</section>

<section class="section-contact" id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Contato</h1>
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.2125268003132!2d-46.68889299570092!3d-23.573826337748624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce577320554901%3A0x12f9dd69da08c0f6!2sAv.+Brg.+Faria+Lima%2C+1893+-+Jardim+Paulistano%2C+S%C3%A3o+Paulo+-+SP%2C+01452-001!5e0!3m2!1sen!2sbr!4v1429906931596"
                         ></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-push-1">
                <img src="assets/images/logo-next-group.png" alt="logo nextgroup"/><br>
                <address>
                    Av. Brigadeiro Faria Lima, 1893 Cj. 12<br>
                    Jardim Paulistano - São Paulo/SP - Brasil.<br>
                    CEP: 01452-001
                </address>
                <div>
                    Tels:<br>
                    <strong>+55 11 3578 1164</strong><br>
                    <strong>+55 11 3571 1164</strong>
                </div>
                <br>
                <p>
                    <a class="contact-link" href="mailto:atendimento@nxtgroup.com.br">atendimento@nxtgroup.com.br</a>
                </p>
            </div>
            <div class="col-md-6 col-md-push-1" ng-controller="ContactCtrl as vm">
                <form action="" method="POST" class="" role="form">
                    <div class="form-group">
                        <label for="input-name">Nome:</label>
                        <input id="input-name" class="form-control" required ng-model="vm.name" type="text">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="input-phone">Telefone:</label>
                            <input id="input-phone" class="form-control" required ng-model="vm.phone" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input-email">E-mail:</label>
                            <input id="input-email" class="form-control" required ng-model="vm.email" type="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-message">Mensagem:</label>
                        <textarea id="input-message" class="form-control" required ng-model="vm.message"></textarea>
                    </div>
                
                    <div class="submit-container">
                        <button type="submit" class="contact-btn">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
