<!--<section class="section-banners">-->
<!--<div style="">-->
<!--<carousel interval="7000" no-pause="true">-->
<!--<slide ng-repeat="slide in vm.slides" active="slide.active" class="slide-container"-->
<!--ng-style="{ 'background-image': 'url(' + slide.image + ')', 'height': viewportHeight + 'px'}" >-->
<!--<div class="container">-->
<!--<div class="slide-content text-shadow row">-->
<!--<div class="col-lg-8" ng-class="{active: slide.active}">-->
<!--<h1>{{slide.title}}</h1>-->
<!--<p>{{slide.content}}</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</slide>-->
<!--</carousel>-->
<!--</div>-->
<!--&lt;!&ndash;<a href="#section-services" du-smooth-scroll><button class="btn-down-arrow"></button></a>&ndash;&gt;-->
<!--</section>-->
<section id="video-wrap">
    <video autoplay="" loop="" poster="assets/vids/poster.jpg">
        <source src="assets/vids/bg.mp4" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
    <div class="container video-wrap-content" >
        <div class="text-shadow row">
            <div class="col-lg-8">
                <p>
                    Qual é o segredo para incrementar as vendas, ter uma equipe comprometida e um ótimo atendimento?
                    Uma metodologia eficaz para engajar e otimizar o potencial de seus colaboradores.
                </p>
                <h1>Venha a conhecer o futuro de RH.</h1>
            </div>
        </div>
    </div>
</section>
<section class="section-services" id="section-services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">O que fazemos</h1>
                <p class="section-info">
                    A Next Group oferece uma metodologia nova e uma plataforma de testes online
                    para todas as suas necessidades de RH.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-8 col-sm-push-2 col-lg-push-0">
                <div class="service-item service-item-simple" ani-view offset-top="100" offset-left="0">
                    <div class="service-icon service-icon-simple"></div>
                    <p class="service-title">
                        Simples
                    </p>
                    <p class="service-content">
                        Conte com uma poderosa ferramenta para a gestão de seu pessoal. Fáceis de entender, fáceis de
                        usar e disponíveis 24 horas por dia, 7 dias por semana, nossos produtos podem ser customizados
                        de acordo com as suas necessidades.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-8 col-sm-push-2 col-lg-push-0">
                <ani-view class="service-item service-item-integrated" offset-top="200" offset-left="0">
                    <div class="service-icon service-icon-integrated"></div>
                    <p class="service-title">
                        Integrada
                    </p>
                    <p class="service-content">
                        Tenha todas as ferramentas de recrutamento, avaliação, desenvolvimento e gestão de pessoas,
                        equipes e organizações numa só plataforma. São 33 tipos de testes DISC e indicadores para 14
                        competências.
                    </p>
                </ani-view>
            </div>

            <div class="col-lg-4 col-sm-8 col-sm-push-2 col-lg-push-0">
                <div class="service-item service-item-unlimited" ani-view offset-top="300" offset-left="0">
                    <div class="service-icon service-icon-unlimited"></div>
                    <p class="service-title">
                        Ilimitada
                    </p>
                    <p class="service-content">
                        Pare de se preocupar com o preço dos testes individuais.
                        Nossos testes são desenvolvidos para você economizar tempo e dinheiro. Com os pacotes
                        ilimitados, você pode melhorar todos os processos internos da sua organização.
                        Temos um preço para cada tamanho de empresa.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#section-calculate" du-smooth-scroll>
        <button class="btn-down-arrow"></button>
    </a>
</section>

<section class="section-calculate" id="section-calculate" ng-style="{'min-height': viewportHeight+'px'}"
         parallax-background parallax-ratio="0.1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="calculate-title text-shadow">
                    Teste DISC ilimitados
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="text-shadow">
                    Pare de se preocupar com o preço dos testes individuais. Com os pacotes ilimitados da Next Group,
                    você pode usar os testes não somente para seleção, mas também
                    para aprimorar todos os processos da sua empresa. Economize tempo e dinheiro, melhore o ambiente de
                    trabalho em sua organização e aumente os níveis de engajamento e produtividade de sua equipe.
                </p>
                <a href="#section-calculator" du-smooth-scroll>
                    <button class="btn-calculate-roi">Calcule o ROI</button>
                </a>
            </div>
        </div>
    </div>
    <a href="#section-solutions" du-smooth-scroll>
        <button class="btn-down-arrow"></button>
    </a>
</section>

<section class="section-solutions" id="section-solutions" ng-controller="SolutionsCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Soluções</h1>
                <p class="section-info">
                    Com a plataforma THT - The Talent System, a Next Group traz pela primeira vez
                    ao Brasil uma ferramenta de avaliação DISC completa e integrada.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="solution-item"
                     tooltip-html-unsafe="{{ vm.recruitment }}" tooltip-placement="bottom">
                    <div class="solution-icon solution-icon-recruitment"></div>
                    <h4 class="solution-title">Recrutamento</h4>
                    <p class="solution-content">
                        Selecione mais rápido e melhor, avalie o perfil DISC e 14 competências e faça
                        "rankings" dos melhores candidatos.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="solution-item"
                     tooltip-html-unsafe="{{ vm.position }}" tooltip-placement="bottom">
                    <div class="solution-icon solution-icon-position"></div>
                    <h4 class="solution-title">Cargo</h4>
                    <p class="solution-content">
                        Melhore o manual de funções, entenda os cargos de forma prática e conheça o
                        perfil exato da pessoa necessária para cada cargo.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="solution-item"
                     tooltip-html-unsafe="{{ vm.development }}" tooltip-placement="bottom">
                    <div class="solution-icon solution-icon-development"></div>
                    <h4 class="solution-title">Desenvolvimento</h4>
                    <p class="solution-content">
                        Avalie de modo simples e rápido, defina oportunidades de crescimento
                        e faça recomendações concretas de formação.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="solution-item"
                     tooltip-html-unsafe="{{ vm.organization }}" tooltip-placement="bottom">
                    <div class="solution-icon solution-icon-organization"></div>
                    <h4 class="solution-title">Organização</h4>
                    <p class="solution-content">
                        Conheça melhor a cultura de sua organização, identifique competências corporativas e
                        sensibilize as pessoas para um processo de mudança.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="solution-item"
                     tooltip-html-unsafe="{{ vm.team }}" tooltip-placement="bottom">
                    <div class="solution-icon solution-icon-team"></div>
                    <h4 class="solution-title">Equipe</h4>
                    <p class="solution-content">
                        Entenda melhor seu pessoal, conheça as competências de cada um e crie estratégias de
                        desenvolvimento para equipes.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="solution-item"
                     tooltip-html-unsafe="{{ vm.feedback }}" tooltip-placement="bottom">
                    <div class="solution-icon solution-icon-feedback"></div>
                    <h4 class="solution-title">Alinhamento</h4>
                    <p class="solution-content">
                        Compare duas pessoas sem desqualificações, defina como potencializar uma pessoa em um cargo e
                        ofereça dicas de adaptação para os novos colaboradores.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <a href="#section-advantages" du-smooth-scroll>
        <button class="btn-down-arrow"></button>
    </a>
</section>

<section class="section-advantages" id="section-advantages">
    <div class="container">
        <h1 class="section-title">Outras Vantagens</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-1 advantage-icon-type-1"></div>
                    <h4 class="advantage-title">Mais Autonomia</h4>
                    <p class="advantage-content">
                        Acesse nossa plataforma para alimentar, aplicar, consultar ou gerar
                        testes. Não dependa de ninguém para seus processos de RH.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-2 advantage-icon-type-2"></div>
                    <h4 class="advantage-title">Recomendação de Livros e Vídeos</h4>
                    <p class="advantage-content">
                        Os planos de desenvolvimento e testes de alinhamento oferecem dicas de livros e vídeos que
                        podem ajudar na melhoria do desempenho.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-3 advantage-icon-type-3"></div>
                    <h4 class="advantage-title">Testes Inovadores</h4>
                    <p class="advantage-content">
                        Alguns de nossos testes são únicos: identificadores, rankings, perfis por observação,
                        alinhamento de pessoas com outras pessoas, cargos ou organizações, etc.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-4 advantage-icon-type-4"></div>
                    <h4 class="advantage-title">Conhecimentos Técnicos</h4>
                    <p class="advantage-content">
                        Customize perguntas para medir competências específicas, como línguas,
                        química, valores, geologia, finanças... o que você precisar.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-5 advantage-icon-type-4"></div>
                    <h4 class="advantage-title">Testes Editáveis</h4>
                    <p class="advantage-content">
                        Todos os testes são editáveis, o que lhe permite aprimorar ainda mais a informação de acordo
                        com as suas necessidades.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-6 advantage-icon-type-3"></div>
                    <h4 class="advantage-title">Certificação Gratuita</h4>
                    <p class="advantage-content">
                        Oferecemos certificação básica e suporte técnico sem custo quando necessário.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-7 advantage-icon-type-2"></div>
                    <h4 class="advantage-title">Versatilidade</h4>
                    <p class="advantage-content">
                        Nossos testes lhe permitem medir até 14 competências diferentes e
                        apresentá-las segundo as suas necessidades atuais.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="advantage-item">
                    <div class="advantage-icon advantage-icon-8 advantage-icon-type-1"></div>
                    <h4 class="advantage-title">Serviços de Alta Qualidade</h4>
                    <p class="advantage-content">
                        A cada nova compra de testes, estabelecemos um compromisso de alta qualidade
                        em serviços. Somos seu aliado na busca pelo sucesso. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#section-calculator" du-smooth-scroll>
        <button class="btn-down-arrow"></button>
    </a>
</section>


<section class="section-calculator" id="section-calculator" ng-controller="CalculatorCtrl as vm">
    <div class="calculator-background">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="section-title">
                        Calcule o ROI
                    </h1>
                    <p class="section-subtitle">
                        (Retorno sobre Investimento)
                    </p>
                    <p class="section-info">
                        Calcule o que você vai poupar em tempo e dinheiro, além do grande impacto no ambiente e na
                        performance da sua empresa.
                    </p>
                    <!--
                    <div class="form-horizontal form-group">
                        <label for="input-employees">Quantos colaboradores a empresa possui?</label>
                        <input class="form-control" ng-model="vm.employees" id="input-employees" type="number" min="0">
                    </div>
                    -->
                    <div class="form-horizontal form-group">
                        <label for="input-processes">Quantos processos seletivos faz por mês?</label>
                        <input class="form-control" ng-model="vm.processes" id="input-processes" type="number" min="1">
                    </div>
                    <p class="section-subtitle">
                        *Valores aproximados
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div collapse="!vm.showResults">
        <div class="container">
            <h3 ng-show="vm.showWarningMessage">
                Para melhor atendê-lo e fazermos uma proposta adequada a suas necessidades, por favor, entre em contato
                conosco.
            </h3>
            <h3 ng-show="vm.discountPercentage < 0">Pelo volume de testes que você precisa, aconselhamos a compra de
                nossos testes avulsos.</h3>
            <div class="row" ng-show="(!vm.showWarningMessage || vm.discountPercentage >= 0)">
                <div class="col-md-4">
                    <table class="calculator-table">
                        <tr>
                            <td>
                                <percentage-progress ratio="vm.unlimitedPricePercentage"></percentage-progress>
                            </td>
                            <td>
                                <strong>Custo de um pacote de testes ilimitados em relação aos custos avulsos</strong>
                                <p ng-show="vm.discountPercentage >= 1"><strong>{{vm.discountPercentage}}%</strong> de
                                    desconto relativo à compra de testes avulsos</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="calculator-table">
                        <tr>
                            <td>
                                <percentage-progress class="circle-green"
                                                     ratio="vm.percentageSavedPerProcess"></percentage-progress>
                            </td>
                            <td>
                                <strong>Recursos poupados por processo</strong>
                                <!--
                                <p ng-show="vm.discountPercentage >= 1"><strong>{{vm.discountPercentage}}%</strong> de desconto relativo à compra de testes avulsos</p>
                                <p><strong>{{vm.percentageSavedPerProcess|number:0}}%</strong> de recursos humanos poupados por processo</p>

                                <ul>
                                    <li>100% em gastos de viagens, pois todos os processos são realizados pela internet</li>
                                    <li>50% em gastos de locação, por requerer apenas espaços para entrevistas</li>
                                    <li>50% em custos fixos de manutenção (coffee-break, água etc.)</li>
                                    <li>30% de custos de escritório</li>
                                </ul>-->
                                <br>
                                <p>Além de gastos com viagens, locação, custos de manutenção e de escritório.</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="calculator-table">
                        <tr>
                            <td>
                                <hour-progress hours="vm.hoursSavedPerProcess"></hour-progress>
                            </td>
                            <td>
                                <strong>Tempo poupado por processo</strong>
                                <p>
                                    Este tempo pode ser usado em capacitação de pessoal, melhores entrevistas e
                                    atividades de engajamento e produtividade.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<a href="#section-clients" du-smooth-scroll><button class="btn-down-arrow"></button></a>-->
</section>

<section class="section-clients" id="section-clients">
    <div class="container">
        <h1 class="section-title">Clientes</h1>
        <table class="grid-table">
            <tr>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/condor.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/condor-bw.png" alt=""/>
                </td>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/cvc.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/cvc-bw.png" alt=""/>
                </td>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/gomes.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/gomes-bw.png" alt=""/>
                </td>
            </tr>
            <tr>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/hirota.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/hirota-bw.png" alt=""/>
                </td>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/marba.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/marba-bw.png" alt=""/>
                </td>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/mcassab.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/mcassab-bw.png" alt=""/>
                </td>
            </tr>
            <tr>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/rb.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/rb-bw.png" alt=""/>
                </td>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/spt.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/spt-bw.png" alt=""/>
                </td>
                <td class="icons-colored-bw client-icon">
                    <img class="icon-colored" src="assets/clients/synchro.png" alt=""/>
                    <img class="icon-bw" src="assets/clients/synchro-bw.png" alt=""/>
                </td>
            </tr>
        </table>
    </div>
    <a href="#section-contact" du-smooth-scroll>
        <button class="btn-down-arrow"></button>
    </a>
</section>

<section class="section-contact" id="section-contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="section-title">Contato</h1>
                <div mouse-activatable>
                    <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d914.2125268003132!2d-46.68889299570092!3d-23.573826337748624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce577320554901%3A0x12f9dd69da08c0f6!2sAv.+Brg.+Faria+Lima%2C+1893+-+Jardim+Paulistano%2C+S%C3%A3o+Paulo+-+SP%2C+01452-001!5e0!3m2!1sen!2sbr!4v1429906931596"
                    ></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-push-1">
                <img src="assets/images/logo-next-group.png" alt="logo nextgroup"/><br>
                <address>
                    Av. Brigadeiro Faria Lima, 1893 Cj. 12<br>
                    Jardim Paulistano - São Paulo/SP - Brasil.<br>
                    CEP: 01452-001
                </address>
                <div>
                    Tels:<br>
                    <strong>+55 11 3578 1164</strong><br>
                    <strong>+55 11 3571 1164</strong>
                </div>
                <br>
                <p>
                    <a class="contact-link" href="mailto:atendimento@nxtgroup.com.br">atendimento@nxtgroup.com.br</a>
                </p>
            </div>
            <div class="col-md-6 col-md-push-1" ng-controller="ContactCtrl as vm">
                <form ng-submit="vm.submit(contactform)" name="contactform" method="POST" role="form">
                    <div class="form-group">
                        <label for="input-name">Nome:</label>
                        <input id="input-name" class="form-control" required ng-model="vm.name" type="text">
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="input-phone">Telefone:</label>
                            <input id="input-phone" class="form-control" required ng-model="vm.phone" type="text">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input-email">E-mail:</label>
                            <input id="input-email" class="form-control" required ng-model="vm.email" type="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="input-message">Mensagem:</label>
                        <textarea id="input-message" class="form-control" required ng-model="vm.message"></textarea>
                    </div>
                    <div class="alert" ng-class="vm.result" ng-show="vm.submitted" role="alert">{{ vm.resultMessage }}
                    </div>
                    <div class="submit-container">
                        <button type="submit" ng-disabled="vm.submitButtonDisabled" class="contact-btn">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
